/* -------------------------------------------------------------------------- */
/* :root{ */

/* Temas de color */
/* --white: #ffffff */

/* Colores Gradientes */
/* --azulado:linear-gradient(279.85deg, rgba(54, 165, 192, 0.8) 0%, rgba(205, 189, 208, 0.8) 100%); */

/* --texto-transparente: color: #545454; */
/* } */

/* -------------------------------------------------------------------------- */
/* Estilos generales inicio de estilos */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: 'Open Sans', Roboto, sans-serif;
}
/* Estilos generales fin de estilos */
/* -------------------------------------------------------------------------- */

main {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
